<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grand Solace Hotel</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>

<header>
    <div class="logo">Welcome!</div>

    <div class="nav-links">
        <a href="{% url 'admin_login' %}">Admin</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
</header>

<section class="hero">
    <div class="hero-text">
        <h1>Grand Solace Hotel</h1>
        <p>
            Experience elegance, peace, and comfort in every stay.
        </p>

        <a href="{% url 'login' %}" class="book-btn">
    Book Now
</a>
    </div>
</section>

<section class="rooms">
    <h2>Featured Rooms</h2>

    <div class="room-container">

        <div class="card">
            <img src="{% static 'images/standard.png' %}" alt="Standard Room">
            <h3>Standard Room</h3>
        </div>

        <div class="card">
            <img src="{% static 'images/deluxe.png' %}" alt="Deluxe Room">
            <h3>Deluxe Room</h3>
        </div>

        <div class="card">
            <img src="{% static 'images/superior.png' %}" alt="Superior Room">
            <h3>Superior Room</h3>
        </div>

        <div class="card">
            <img src="{% static 'images/suite.png' %}" alt="Suite Room">
            <h3>Suite Room</h3>
        </div>

        <div class="card">
            <img src="{% static 'images/executive.png' %}" alt="Executive Room">
            <h3>Executive Room</h3>
        </div>

    </div>
</section>

</body>
</html>