/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #f1f5f9;
}

/* Layout */
.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #020617;
  padding: 20px;
}

.logo {
  color: #d4af37;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  color: #cbd5f5;
  transition: 0.3s;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background: #d4af37;
  color: #020617;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topbar input {
  width: 300px;          /* controls length */
  max-width: 40%;        /* prevents it from getting too long on large screens */
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background: #1e293b;
  color: white;
  outline: none;
  transition: 0.3s;
}



/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  border-left: 4px solid #d4af37;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.card h3 {
  font-size: 14px;
  color: #94a3b8;
}

.card p {
  font-size: 28px;
  margin-top: 10px;
}

/* Widgets */
.widgets {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-top: 20px;
}

.widget {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

/* Circle */
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#d4af37 70%, #334155 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.circle span {
  font-size: 22px;
}

.widget p {
  text-align: center;
  margin-top: 10px;
  color: #94a3b8;
}

/* Bars */
.bar {
  height: 8px;
  border-radius: 6px;
  margin: 10px 0;
  background: #334155;
  position: relative;
}

.bar::after {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 6px;
}

.bar.orange::after {
  width: 70%;
  background: #f59e0b;
}

.bar.blue::after {
  width: 40%;
  background: #38bdf8;
}

.bar.purple::after {
  width: 80%;
  background: #a855f7;
}

/* Labels */
.labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

/* Table */
.table-section {
  margin-top: 30px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.table-section h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #020617;
}

th, td {
  padding: 12px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #334155;
}

/* Status */
.status {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
}

.status.active {
  background: #16a34a;
}

.status.pending {
  background: #f59e0b;
}