.navbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 50px;
    background: #1f1f1f;
}

.nav-left a,
.nav-right a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}